In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
personality = pd.read_excel("../../Datasets/Personality Survey Data.xlsx")

In [24]:
buyback_contract = personality.iloc[51:95, :]
buyback_contract = buyback_contract.iloc[:,2:]
buyback_contract.columns = personality.iloc[50, 2:]
buyback_contract.reset_index(drop=True, inplace = True)

In [25]:
buyback_contract.columns

Index(['PLAYER NAME', 'Faculty', 'Program', 'Grad/ Undergrad', 'ENS 208',
       'MS 401', 'Other Supply Chain Course?'],
      dtype='object', name=50)

In [26]:
buyback_contract

50,PLAYER NAME,Faculty,Program,Grad/ Undergrad,ENS 208,MS 401,Other Supply Chain Course?
0,manufacturer1,FENS,NaN,Undergrad,YES,NaN,NaN
1,manufacturer2,FENS,MSIE,Undergrad,YES,YES,YES
2,manufacturer3,FENS,MSIE,Undergrad,YES,NaN,YES
3,manufacturer4,FENS,MSIE,Undergrad,YES,YES,NaN
4,manufacturer5,FENS,MSIE,Undergrad,YES,NaN,NaN
5,manufacturer6,FENS,MSIE,Undergrad,YES,YES,NaN
6,manufacturer7,FENS,MSIE,Undergrad,YES,YES,YES
7,manufacturer8,SOM,MAN,Undergrad,YES,NaN,NaN
8,manufacturer9,FENS,MSIE,Undergrad,YES,NaN,NaN
9,manufacturer10,FENS,MSIE,Undergrad,YES,NaN,YES
10,manufacturer11,FENS,MSIE,Undergrad,YES,YES,YES
11,manufacturer12,FENS,MSIE,Undergrad,YES,YES,YES
12,manufacturer13,FENS,MSIE,Undergrad,YES,YES,NaN
13,manufacturer14,FENS,MSIE,Undergrad,YES,YES,YES
14,manufacturer15,FENS,NaN,Undergrad,NaN,NaN,NaN
15,manufacturer16,FASS,ECON,PhD,NaN,NaN,NaN
16,manufacturer17,FENS,MSIE,Undergrad,YES,NaN,NaN
17,manufacturer18,FENS,NaN,Undergrad,YES,NaN,NaN
18,manufacturer19,FENS,IE,PhD,NaN,NaN,YES
19,manufacturer20,FENS,NaN,Undergrad,NaN,NaN,NaN
20,manufacturer21,FENS,NaN,Undergrad,NaN,NaN,NaN
21,manufacturer22,FENS,IE,MS/MA,YES,YES,YES
22,retailer1,FENS,IE,MS/MA,NaN,NaN,YES
23,retailer2,FENS,EE,Undergrad,NaN,NaN,NaN
24,retailer3,FENS,MAT,Undergrad,NaN,NaN,NaN
25,retailer4,FENS,IE,MS/MA,NaN,NaN,NaN
26,retailer5,FENS,MSIE,Undergrad,YES,YES,YES
27,retailer6,FENS,NaN,Undergrad,NaN,NaN,NaN
28,retailer7,FASS,ECON,MS/MA,NaN,NaN,NaN
29,retailer8,FENS,MSIE,Undergrad,YES,YES,NaN
30,retailer9,FENS,IE,Undergrad,YES,YES,YES
31,retailer10,FENS,MSIE,Undergrad,YES,YES,NaN
32,retailer11,SOM,NaN,Undergrad,NaN,NaN,NaN
33,retailer12,FENS,MSIE,Undergrad,YES,YES,YES
34,retailer13,FASS,ECON,Undergrad,NaN,NaN,NaN
35,retailer14,FENS,NaN,Undergrad,YES,NaN,NaN
36,retailer15,SOM,NaN,Undergrad,NaN,NaN,NaN
37,retailer16,FENS,MSIE,Undergrad,YES,NaN,NaN
38,retailer17,FENS,MSIR,Undergrad,YES,YES,YES
39,retailer18,FENS,IE,PhD,YES,YES,YES
40,retailer19,FASS,Public Pols,Undergrad,NaN,NaN,NaN
41,retailer20,FENS,NaN,Undergrad,NaN,NaN,NaN
42,retailer21,FENS,NaN,Undergrad,YES,NaN,NaN
43,retailer22,FENS,IE,MS/MA,NaN,NaN,NaN

In [27]:
faculty = pd.get_dummies(buyback_contract['Faculty'])
faculty = faculty.replace({True: 1, False: 0})
faculty.columns = ['faculty_' + col for col in faculty.columns]
buyback_contract = pd.concat([buyback_contract, faculty], axis=1)
buyback_contract.drop(["Faculty"], axis=1,inplace = True)

buyback_contract

,PLAYER NAME,Program,Grad/ Undergrad,ENS 208,MS 401,Other Supply Chain Course?,faculty_FASS,faculty_FENS,faculty_SOM
0,manufacturer1,NaN,Undergrad,YES,NaN,NaN,0,1,0
1,manufacturer2,MSIE,Undergrad,YES,YES,YES,0,1,0
2,manufacturer3,MSIE,Undergrad,YES,NaN,YES,0,1,0
3,manufacturer4,MSIE,Undergrad,YES,YES,NaN,0,1,0
4,manufacturer5,MSIE,Undergrad,YES,NaN,NaN,0,1,0
5,manufacturer6,MSIE,Undergrad,YES,YES,NaN,0,1,0
6,manufacturer7,MSIE,Undergrad,YES,YES,YES,0,1,0
7,manufacturer8,MAN,Undergrad,YES,NaN,NaN,0,0,1
8,manufacturer9,MSIE,Undergrad,YES,NaN,NaN,0,1,0
9,manufacturer10,MSIE,Undergrad,YES,NaN,YES,0,1,0
10,manufacturer11,MSIE,Undergrad,YES,YES,YES,0,1,0
11,manufacturer12,MSIE,Undergrad,YES,YES,YES,0,1,0
12,manufacturer13,MSIE,Undergrad,YES,YES,NaN,0,1,0
13,manufacturer14,MSIE,Undergrad,YES,YES,YES,0,1,0
14,manufacturer15,NaN,Undergrad,NaN,NaN,NaN,0,1,0
15,manufacturer16,ECON,PhD,NaN,NaN,NaN,1,0,0
16,manufacturer17,MSIE,Undergrad,YES,NaN,NaN,0,1,0
17,manufacturer18,NaN,Undergrad,YES,NaN,NaN,0,1,0
18,manufacturer19,IE,PhD,NaN,NaN,YES,0,1,0
19,manufacturer20,NaN,Undergrad,NaN,NaN,NaN,0,1,0
20,manufacturer21,NaN,Undergrad,NaN,NaN,NaN,0,1,0
21,manufacturer22,IE,MS/MA,YES,YES,YES,0,1,0
22,retailer1,IE,MS/MA,NaN,NaN,YES,0,1,0
23,retailer2,EE,Undergrad,NaN,NaN,NaN,0,1,0
24,retailer3,MAT,Undergrad,NaN,NaN,NaN,0,1,0
25,retailer4,IE,MS/MA,NaN,NaN,NaN,0,1,0
26,retailer5,MSIE,Undergrad,YES,YES,YES,0,1,0
27,retailer6,NaN,Undergrad,NaN,NaN,NaN,0,1,0
28,retailer7,ECON,MS/MA,NaN,NaN,NaN,1,0,0
29,retailer8,MSIE,Undergrad,YES,YES,NaN,0,1,0
30,retailer9,IE,Undergrad,YES,YES,YES,0,1,0
31,retailer10,MSIE,Undergrad,YES,YES,NaN,0,1,0
32,retailer11,NaN,Undergrad,NaN,NaN,NaN,0,0,1
33,retailer12,MSIE,Undergrad,YES,YES,YES,0,1,0
34,retailer13,ECON,Undergrad,NaN,NaN,NaN,1,0,0
35,retailer14,NaN,Undergrad,YES,NaN,NaN,0,1,0
36,retailer15,NaN,Undergrad,NaN,NaN,NaN,0,0,1
37,retailer16,MSIE,Undergrad,YES,NaN,NaN,0,1,0
38,retailer17,MSIR,Undergrad,YES,YES,YES,0,1,0
39,retailer18,IE,PhD,YES,YES,YES,0,1,0
40,retailer19,Public Pols,Undergrad,NaN,NaN,NaN,1,0,0
41,retailer20,NaN,Undergrad,NaN,NaN,NaN,0,1,0
42,retailer21,NaN,Undergrad,YES,NaN,NaN,0,1,0
43,retailer22,IE,MS/MA,NaN,NaN,NaN,0,1,0

In [28]:
program = pd.get_dummies(buyback_contract['Program'])
program = program.replace({True: 1, False: 0, })
program.columns = ['program_' + col for col in program.columns]
buyback_contract = pd.concat([buyback_contract, program], axis=1)
buyback_contract.drop(["Program"], axis=1,inplace = True)

In [29]:

Grad_Undergrad = pd.get_dummies(buyback_contract['Grad/ Undergrad'])
Grad_Undergrad = Grad_Undergrad.replace({True: 1, False: 0})
Grad_Undergrad.columns = ['Grad_Undergrad_' + col for col in Grad_Undergrad.columns]
buyback_contract = pd.concat([buyback_contract, Grad_Undergrad], axis=1)
buyback_contract.drop(["Grad/ Undergrad"], axis=1,inplace = True)

In [30]:



buyback_contract["ENS 208"] = buyback_contract["ENS 208"].replace({"YES": 1, np.nan: 0}).astype(int)
buyback_contract["MS 401"] = buyback_contract["MS 401"].replace({"YES": 1, np.nan: 0}).astype(int)
buyback_contract["Other Supply Chain Course?"] = buyback_contract["Other Supply Chain Course?"].replace({"YES": 1, np.nan: 0}).astype(int)
buyback_contract

,PLAYER NAME,ENS 208,MS 401,Other Supply Chain Course?,faculty_FASS,faculty_FENS,faculty_SOM,program_ECON,program_EE,program_IE,program_MAN,program_MAT,program_MSIE,program_MSIR,program_Public Pols,Grad_Undergrad_MS/MA,Grad_Undergrad_PhD,Grad_Undergrad_Undergrad
0,manufacturer1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
1,manufacturer2,1,1,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1
2,manufacturer3,1,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1
3,manufacturer4,1,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
4,manufacturer5,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
5,manufacturer6,1,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
6,manufacturer7,1,1,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1
7,manufacturer8,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1
8,manufacturer9,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
9,manufacturer10,1,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1
10,manufacturer11,1,1,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1
11,manufacturer12,1,1,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1
12,manufacturer13,1,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
13,manufacturer14,1,1,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1
14,manufacturer15,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
15,manufacturer16,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0
16,manufacturer17,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
17,manufacturer18,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
18,manufacturer19,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0
19,manufacturer20,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
20,manufacturer21,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
21,manufacturer22,1,1,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0
22,retailer1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0
23,retailer2,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1
24,retailer3,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1
25,retailer4,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0
26,retailer5,1,1,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1
27,retailer6,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
28,retailer7,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0
29,retailer8,1,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
30,retailer9,1,1,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1
31,retailer10,1,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
32,retailer11,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
33,retailer12,1,1,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1
34,retailer13,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1
35,retailer14,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
36,retailer15,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
37,retailer16,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
38,retailer17,1,1,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1
39,retailer18,1,1,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0
40,retailer19,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1
41,retailer20,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
42,retailer21,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
43,retailer22,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0

In [31]:
buyback_contract.to_csv('../../Datasets/buyback_contract_subject_background_information.csv', index=False)