In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
standing_decisions = pd.read_csv("../Datasets/standing_decisions_subject_background_information.csv")
standing_decisions.head()

,PLAYER NAME,ENS 208,MS 401,Other Supply Chain Course?,faculty_FASS,faculty_FENS,faculty_SOM,program_Computer Engineer,program_Computer Science,program_Electronics,...,program_haven't chosen yet Ms or Cs,program_manufacturing systems,program_manufacturing systems engineering,program_ms,program_msıe,program_undeclared,program_Üretim Mühendisligi,program_Üretim Mühendisliği,program_Üretim sistemleri,Grad_Undergrad_Undergraduate
0,manufacturer1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,manufacturer2,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,manufacturer3,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,manufacturer4,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,manufacturer5,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
standing_contract_subject_background_information = pd.read_csv("../Datasets/standing_contract_subject_background_information.csv")
standing_contract_subject_background_information.head()

,PLAYER NAME,ENS 208,MS 401,Other Supply Chain Course?,faculty_FASS,faculty_FENS,faculty_SOM,program_CS,program_Electronics Engineering,program_Endüstri Mühendisliği,...,program_engineering,program_freshman,program_manufacturing system,program_manufacturing systems,program_mechactronics,program_ms,program_mühendislik ve doğa bilimleri,program_not decided,program_undeclared,Grad_Undergrad_Undergraduate
0,manufacturer1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,manufacturer2,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,manufacturer3,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,manufacturer4,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
4,manufacturer5,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [7]:
default_contract_subject_background_information = pd.read_csv("../Datasets/default_contract_subject_background_information.csv")
default_contract_subject_background_information.head()

,PLAYER NAME,ENS 208,MS 401,Other Supply Chain Course?,faculty_FASS,faculty_FENS,faculty_SOM,program_Computing engineering,program_FENS,program_Freshman,...,program_endustri,program_engineering science,program_freshman,program_industrial engineering,program_manufacturing system,program_mekatronics engineering,program_ms,program_undeclared,Grad_Undergrad_MS/MA,Grad_Undergrad_Undergraduate
0,manufacturer1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,manufacturer2,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,manufacturer3,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,manufacturer4,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,manufacturer5,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
revenue_sharing_contract_subject_background_information = pd.read_csv("../Datasets/revenue_sharing_contract_subject_background_information.csv")
                                                
revenue_sharing_contract_subject_background_information.head()

,PLAYER NAME,ENS 208,MS 401,Other Supply Chain Course?,faculty_FASS,faculty_FENS,faculty_SOM,program_(ERASMUS),program_BIO,program_ECON,...,program_IE,program_MAN,program_MAT,program_MBA,program_MSIE,program_Turkish Studies,Grad_Undergrad_MS/MA,Grad_Undergrad_PREP,Grad_Undergrad_PhD,Grad_Undergrad_Undergrad
0,manufacturer1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,manufacturer2,1,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,manufacturer3,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,manufacturer4,1,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,manufacturer5,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [10]:
buyback_contract_subject_background_information = pd.read_csv("../Datasets/buyback_contract_subject_background_information.csv")
buyback_contract_subject_background_information.head()

,PLAYER NAME,ENS 208,MS 401,Other Supply Chain Course?,faculty_FASS,faculty_FENS,faculty_SOM,program_ECON,program_EE,program_IE,program_MAN,program_MAT,program_MSIE,program_MSIR,program_Public Pols,Grad_Undergrad_MS/MA,Grad_Undergrad_PhD,Grad_Undergrad_Undergrad
0,manufacturer1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
1,manufacturer2,1,1,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1
2,manufacturer3,1,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1
3,manufacturer4,1,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
4,manufacturer5,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1

In [11]:
wholesale_price_subject_background_information = pd.read_csv("../Datasets/wholesale_price_subject_background_information.csv")
wholesale_price_subject_background_information.head()

,PLAYER NAME,ENS 208,MS 401,Other Supply Chain Course?,faculty_FASS,faculty_FENS,faculty_SOM,program_BIO,program_CS,program_ECON,...,program_IE,program_MAN,program_MAT,program_MEKATRONIK,program_MSIE,program_POLS,program_PUBLIC POLICY,Grad_Undergrad_MS/MA,Grad_Undergrad_PhD,Grad_Undergrad_Undergrad
0,manufacturer1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,manufacturer2,1,1,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,manufacturer3,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,manufacturer4,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,manufacturer5,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0